<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](https://mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko) and Vadim Shestopalov (@vchulski). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

# <center>Assignment #1. Fall 2019
## <center>Exploratory data analysis of Olympic games with Pandas
    
<img src='../../img/olympic_logo.png' width=50%>

Prior to working on the assignment, you'd better check out the corresponding course material:
 - [Exploratory data analysis with Pandas](https://nbviewer.jupyter.org/github/Yorko/mlcourse_open/blob/master/jupyter_english/topic01_pandas_data_analysis/topic1_pandas_data_analysis.ipynb?flush_cache=true), the same as an interactive web-based [Kaggle Kernel](https://www.kaggle.com/kashnitsky/topic-1-exploratory-data-analysis-with-pandas)
 - first lectures in mlcourse.ai [YouTube playlist ](https://www.youtube.com/watch?v=QKTuw4PNOsU&list=PLVlY_7IJCMJeRfZ68eVfEcu-UcN9BbwiX) 
 - you can also practice with demo assignments, which are simpler and already shared with solutions: [A1 demo](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset), [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution)

### Your task is to:
 1. write code and perform computations in the cells below
 2. choose answers in the [webform](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU). Solutions will be shared only with those who've filled in this form 
 3. submit answers with some email and **remember it**! This will be your ID during the course. Specify your real full name in the form as well (no nicks allowed in the final top-100 [rating](https://mlcourse.ai/rating)). If in doubt, you can re-submit the form till the deadline for A1, no problem, but stick to only one email.
 
### <center> Deadline for A1: 2019 September 15, 20:59 GMT (London time)
    
You'll get up to 10 credits for this assignment.

### How to get help
In [ODS Slack](https://opendatascience.slack.com) (if you still don't have access, fill in the [form](https://docs.google.com/forms/d/10HAN5huM996snUKjsNYyT_oOlm2uOsTKulKurb3oiNM/) mentioned on the mlcourse.ai main page), we have a channel **#mlcourse_ai_news** with announcements from the course team.
You can discuss the course content freely in the **#mlcourse_ai** channel (we still have a huge Russian-speaking group, they have a separate channel **#mlcourse_ai_rus**).

Here's how you reply in a thread (press this dialog icon to drill down into a thread):

<img src="../../img/start_a_thread.png" />

Please stick to special threads *a1_q1-5_fall2019* and *a1_q6-10_fall2019* in **#mlcourse_ai_news** for your questions on A1. Help each other without sharing correct code and answers. Our TA **Vadim @vchulski** is there to help (only in the mentioned thread, do not write to him directly).

Lastly, you can save useful messages by pinning them, further you can find pinned items on the top, just below the channel name:

<img src="../../img/pinned_item.png" />

### Assignment 
__There are ten questions about 120 years of Olympic history in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU).__

Download the file `athlete_events.csv` from [here](https://drive.google.com/file/d/1f5v6Z2ayc7h698FG_98wP5x1Y2zZQeox/view?usp=sharing) (scraped by [rgriffin](https://www.randigriffin.com/) from www.sports-reference.com). The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Change the path to the dataset file if needed. 
PATH = 'athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
data.groupby("Sport")["Event"].agg(np.unique)

Sport
Aeronautics                                      Aeronautics Mixed Aeronautics
Alpine Skiing                [Alpine Skiing Men's Combined, Alpine Skiing M...
Alpinism                                               Alpinism Mixed Alpinism
Archery                      [Archery Men's Au Chapelet, 33 metres, Archery...
Art Competitions             [Art Competitions Mixed Architecture, Art Comp...
Athletics                    [Athletics Men's 1,500 metres, Athletics Men's...
Badminton                    [Badminton Men's Doubles, Badminton Men's Sing...
Baseball                                               Baseball Men's Baseball
Basketball                   [Basketball Men's Basketball, Basketball Women...
Basque Pelota                     Basque Pelota Men's Two-Man Teams With Cesta
Beach Volleyball             [Beach Volleyball Men's Beach Volleyball, Beac...
Biathlon                     [Biathlon Men's 10 kilometres Sprint, Biathlon...
Bobsleigh                    [Bobsleigh Men's Four, Bobsleigh Men's Four/Fi...
Boxing                       [Boxing Men's Bantamweight, Boxing Men's Feath...
Canoeing                     [Canoeing Men's Canadian Doubles, 1,000 metres...
Cricket                                                  Cricket Men's Cricket
Croquet                      [Croquet Mixed Doubles, Croquet Mixed Singles,...
Cross Country Skiing         [Cross Country Skiing Men's 10 kilometres, Cro...
Curling                       [Curling Men's Curling, Curling Women's Curling]
Cycling                      [Cycling Men's 1 mile, Cycling Men's 1,000 met...
Diving                       [Diving Men's Plain High, Diving Men's Platfor...
Equestrianism                [Equestrianism Men's Dressage, Individual, Equ...
Fencing                      [Fencing Men's Foil, Individual, Fencing Men's...
Figure Skating               [Figure Skating Men's Singles, Figure Skating ...
Football                     [Football Men's Football, Football Women's Foo...
Freestyle Skiing             [Freestyle Skiing Men's Aerials, Freestyle Ski...
Golf                         [Golf Men's Individual, Golf Men's Team, Golf ...
Gymnastics                   [Gymnastics Men's Club Swinging, Gymnastics Me...
Handball                     [Handball Men's Handball, Handball Women's Han...
Hockey                            [Hockey Men's Hockey, Hockey Women's Hockey]
                                                   ...
Modern Pentathlon            [Modern Pentathlon Men's Individual, Modern Pe...
Motorboating                 [Motorboating Mixed A-Class (Open), Motorboati...
Nordic Combined              [Nordic Combined Men's Individual, Nordic Comb...
Polo                                                           Polo Men's Polo
Racquets                      [Racquets Men's Doubles, Racquets Men's Singles]
Rhythmic Gymnastics          [Rhythmic Gymnastics Women's Group, Rhythmic G...
Roque                                                      Roque Men's Singles
Rowing                       [Rowing Men's 17-Man Naval Rowing Boats, Rowin...
Rugby                                                        Rugby Men's Rugby
Rugby Sevens                 [Rugby Sevens Men's Rugby Sevens, Rugby Sevens...
Sailing                      [Sailing Men's One Person Dinghy, Sailing Men'...
Shooting                     [Shooting Men's Air Pistol, 10 metres, Shootin...
Short Track Speed Skating    [Short Track Speed Skating Men's 1,000 metres,...
Skeleton                     [Skeleton Men's Skeleton, Skeleton Women's Ske...
Ski Jumping                  [Ski Jumping Men's Large Hill, Individual, Ski...
Snowboarding                 [Snowboarding Men's Boardercross, Snowboarding...
Softball                                             Softball Women's Softball
Speed Skating                [Speed Skating Men's 1,000 metres, Speed Skati...
Swimming                     [Swimming Men's 1,000 metres Freestyle, Swimmi...
Synchronized Swimming        [Synchronized Swimming Women's Duet, Synchroni...
Table Tennis                 [Table Tennis Men's Doubles, Table Tennis Men'...
Taekwondo                    [Taekwondo Men's Featherweight, Taekwondo Men'...
Tennis                       [Tennis Men's Doubles, Tennis Men's Doubles, C...
Trampolining                 [Trampolining Men's Individual, Trampolining W...
Triathlon                    [Triathlon Men's Olympic Distance, Triathlon W...
Tug-Of-War                                         Tug-Of-War Men's Tug-Of-War
Volleyball                   [Volleyball Men's Volleyball, Volleyball Women...
Water Polo                   [Water Polo Men's Water Polo, Water Polo Women...
Weightlifting                [Weightlifting Men's All-Around Dumbbell Conte...
Wrestling                    [Wrestling Men's All-Around, Greco-Roman, Wres...
Name: Event, Length: 66, dtype: object

__1. How old were the youngest male and female participants of the 1992 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 16 and 15
- 14 and 13 
- 13 and 11
- 11 and 12

In [5]:
data_from_1992 = data[data["Year"] == 1992]
mal_from_1992 = data_from_1992[data_from_1992["Sex"] == "M"]
fem_from_1992 = data_from_1992[data_from_1992["Sex"] == "F"]
print("Youngest male:", min(mal_from_1992["Age"]))
print("Youngest female:", min(fem_from_1992["Age"]))

('Youngest male:', 11.0)
('Youngest female:', 12.0)

__2. What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0.2
- 1.5 
- 2.5
- 7.7

In [15]:
filt_year = data[data["Year"] == 2012]
filt_sex_year = filt_year[filt_year["Sex"] == "M"]
filt_spor_sex_year = filt_sex_year[filt_sex_year["Sport"] == "Basketball"]
basket_oly2012_man = filt_spor_sex_year.groupby(["Name"])
oly2012_man = filt_sex_year.groupby(["Name"])
print(len(basket_oly2012_man) / (1.0 * len(oly2012_man)))

0.0245817685217

__3. What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 171.8 and 6.5
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [38]:
filt_year = data[data["Year"] == 2000]
filt_sex_year = filt_year[filt_year["Sex"] == "F"]
filt_spor_sex_year = filt_sex_year[filt_sex_year["Sport"] == "Tennis"]
tennis_oly2000_fem = filt_spor_sex_year.groupby(["Name"])["Height"].agg(np.min).to_frame()
tennis_oly2000_fem.agg([np.mean, np.std])

          Height
mean  171.806818
std     6.563322

__4. Find a sportsman who participated in the 2006 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [28]:
filt_year = data[data["Year"] == 2006]
filt_year.sort_values(by="Weight", ascending=False)[:1]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
8102,4476,Patrick R. Antaki,M,41.0,185.0,127.0,Lebanon,LIB,2006 Winter,2006,Winter,Torino,Skeleton,Skeleton Men's Skeleton,NaN

__5. How many times did John Aalberg participate in the Olympics held in different years?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0
- 1 
- 2
- 3

In [34]:
johns_participations = data[data["Name"] == "John Aalberg"]
johns_participations.groupby(["Year"])["Age"].agg(np.min)

Year
1992    31.0
1994    33.0
Name: Age, dtype: float64

__6. How many gold medals in tennis did sportspeople from the Switzerland team win at the 2008 Olympics? Count every medal from every sportsperson.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 0
- 1 
- 2
- 3

In [41]:
filt_year = data[data["Year"] == 2008]
filt_ctry_year = filt_year[filt_year["Team"] == "Switzerland"]
filt_spor_ctry_year = filt_ctry_year[filt_ctry_year["Sport"] == "Tennis"]
filt_spor_ctry_year[filt_spor_ctry_year["Medal"] == "Gold"]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
67290,34396,Roger Federer,M,26.0,185.0,80.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold
257672,129042,Stanislas Wawrinka,M,23.0,183.0,79.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold

__7. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes
- No

In [46]:
filt_year = data[data["Year"] == 2016]
medals = filt_year[filt_year["Medal"] != None]
spain_medals = medals[medals["Team"] == "Spain"]
italy_medals = medals[medals["Team"] == "Italy"]
print(len(spain_medals) < len(italy_medals))

True

__8. What age category did the fewest and the most participants of the 2008 Olympics belong to?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45) and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [99]:
filt_year = data[data["Year"] == 2008]
oly_2008_athletes = filt_year.groupby("Name")["Age"].agg(np.min).to_frame()
oly_2008_athletes = oly_2008_athletes["Age"].apply(lambda age: age - 1 if age == 65 else age).to_frame()
binned_ages = oly_2008_athletes["Age"].apply(lambda age: ((age - 15) // 10) * 10 + 15).to_frame()
binned_ages["Age"].value_counts()

25.0    5366
15.0    4783
35.0     630
45.0      76
5.0       13
55.0      10
65.0       1
Name: Age, dtype: int64

__9. Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [104]:
atlanta_data = data[data["City"] == "Atlanta"]
print(any(atlanta_data["Season"] == "Summer"))

atlanta_data = data[data["City"] == "Squaw Valley"]
print(any(atlanta_data["Season"] == "Winter"))

True
True

__10. What is the absolute difference between the number of unique sports at the 1986 Olympics and 2002 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 3 
- 10
- 15
- 27

In [124]:
print(data)
oly_1986 = data[data["Year"] == 1986]
oly_2002 = data[data["Year"] == 2002]
uniq_2002 = len(oly_2002.groupby("Sport")["Year"].agg(np.min))
uniq_1986 = len(oly_1986.groupby("Sport")["Year"].agg(np.min))
abs(uniq_2002 - uniq_1986)

            ID                                Name Sex   Age  Height  Weight  \
0            1                           A Dijiang   M  24.0   180.0    80.0
1            2                            A Lamusi   M  23.0   170.0    60.0
2            3                 Gunnar Nielsen Aaby   M  24.0     NaN     NaN
3            4                Edgar Lindenau Aabye   M  34.0     NaN     NaN
4            5            Christine Jacoba Aaftink   F  21.0   185.0    82.0
5            5            Christine Jacoba Aaftink   F  21.0   185.0    82.0
6            5            Christine Jacoba Aaftink   F  25.0   185.0    82.0
7            5            Christine Jacoba Aaftink   F  25.0   185.0    82.0
8            5            Christine Jacoba Aaftink   F  27.0   185.0    82.0
9            5            Christine Jacoba Aaftink   F  27.0   185.0    82.0
10           6                     Per Knut Aaland   M  31.0   188.0    75.0
11           6                     Per Knut Aaland   M  31.0   188.0    75.0
12           6                     Per Knut Aaland   M  31.0   188.0    75.0
13           6                     Per Knut Aaland   M  31.0   188.0    75.0
14           6                     Per Knut Aaland   M  33.0   188.0    75.0
15           6                     Per Knut Aaland   M  33.0   188.0    75.0
16           6                     Per Knut Aaland   M  33.0   188.0    75.0
17           6                     Per Knut Aaland   M  33.0   188.0    75.0
18           7                        John Aalberg   M  31.0   183.0    72.0
19           7                        John Aalberg   M  31.0   183.0    72.0
20           7                        John Aalberg   M  31.0   183.0    72.0
21           7                        John Aalberg   M  31.0   183.0    72.0
22           7                        John Aalberg   M  33.0   183.0    72.0
23           7                        John Aalberg   M  33.0   183.0    72.0
24           7                        John Aalberg   M  33.0   183.0    72.0
25           7                        John Aalberg   M  33.0   183.0    72.0
26           8  Cornelia "Cor" Aalten (-Strannood)   F  18.0   168.0     NaN
27           8  Cornelia "Cor" Aalten (-Strannood)   F  18.0   168.0     NaN
28           9                    Antti Sami Aalto   M  26.0   186.0    96.0
29          10      Einar Ferdinand "Einari" Aalto   M  26.0     NaN     NaN
...        ...                                 ...  ..   ...     ...     ...
271086  135555                          Micha Zych   M  23.0   177.0    68.0
271087  135556          Bogusaw Stanisaw Zychowicz   M  19.0   189.0    80.0
271088  135556          Bogusaw Stanisaw Zychowicz   M  19.0   189.0    80.0
271089  135557                        Dominik ycki   M  34.0   192.0    95.0
271090  135557                        Dominik ycki   M  38.0   192.0    95.0
271091  135558                  ukasz Tomasz ygado   M  32.0   200.0    89.0
271092  135559                    Pawe Jan Zygmunt   M  21.0   182.0    79.0
271093  135559                    Pawe Jan Zygmunt   M  21.0   182.0    79.0
271094  135559                    Pawe Jan Zygmunt   M  25.0   182.0    79.0
271095  135559                    Pawe Jan Zygmunt   M  25.0   182.0    79.0
271096  135559                    Pawe Jan Zygmunt   M  29.0   182.0    79.0
271097  135559                    Pawe Jan Zygmunt   M  29.0   182.0    79.0
271098  135559                    Pawe Jan Zygmunt   M  33.0   182.0    79.0
271099  135560                   Stavroula Zygouri   F  36.0   171.0    63.0
271100  135561                       Frantiek Zyka   M  26.0     NaN     NaN
271101  135562                          Milan Zyka   M  24.0   173.0    68.0
271102  135563           Olesya Nikolayevna Zykina   F  19.0   171.0    64.0
271103  135563           Olesya Nikolayevna Zykina   F  23.0   171.0    64.0
271104  135564        Yevgeny Aleksandrovich Zykov   M  22.0   172.0    65.0
271105  135565            Fernando scar Zylberberg   M  23.0   168.0    76.0
271106  135565            Fernando scar Zylberberg   M  27.0   168.0    76.0
271107  135566          James Francis "Jim" Zylker   M  21.0   175.0    75.0
271108  135567        Aleksandr Viktorovich Zyuzin   M  24.0   183.0    72.0
271109  135567        Aleksandr Viktorovich Zyuzin   M  28.0   183.0    72.0
271110  135568              Olga Igorevna Zyuzkova   F  33.0   171.0    69.0
271111  135569                          Andrzej ya   M  29.0   179.0    89.0
271112  135570                            Piotr ya   M  27.0   176.0    59.0
271113  135570                            Piotr ya   M  27.0   176.0    59.0
271114  135571                  Tomasz Ireneusz ya   M  30.0   185.0    96.0
271115  135571                  Tomasz Ireneusz ya   M  34.0   185.0    96.0

                  Team  NOC        Games  Year  Season            City  \
0                China  CHN  1992 Summer  1992  Summer       Barcelona
1                China  CHN  2012 Summer  2012  Summer          London
2              Denmark  DEN  1920 Summer  1920  Summer       Antwerpen
3       Denmark/Sweden  DEN  1900 Summer  1900  Summer           Paris
4          Netherlands  NED  1988 Winter  1988  Winter         Calgary
5          Netherlands  NED  1988 Winter  1988  Winter         Calgary
6          Netherlands  NED  1992 Winter  1992  Winter     Albertville
7          Netherlands  NED  1992 Winter  1992  Winter     Albertville
8          Netherlands  NED  1994 Winter  1994  Winter     Lillehammer
9          Netherlands  NED  1994 Winter  1994  Winter     Lillehammer
10       United States  USA  1992 Winter  1992  Winter     Albertville
11       United States  USA  1992 Winter  1992  Winter     Albertville
12       United States  USA  1992 Winter  1992  Winter     Albertville
13       United States  USA  1992 Winter  1992  Winter     Albertville
14       United States  USA  1994 Winter  1994  Winter     Lillehammer
15       United States  USA  1994 Winter  1994  Winter     Lillehammer
16       United States  USA  1994 Winter  1994  Winter     Lillehammer
17       United States  USA  1994 Winter  1994  Winter     Lillehammer
18       United States  USA  1992 Winter  1992  Winter     Albertville
19       United States  USA  1992 Winter  1992  Winter     Albertville
20       United States  USA  1992 Winter  1992  Winter     Albertville
21       United States  USA  1992 Winter  1992  Winter     Albertville
22       United States  USA  1994 Winter  1994  Winter     Lillehammer
23       United States  USA  1994 Winter  1994  Winter     Lillehammer
24       United States  USA  1994 Winter  1994  Winter     Lillehammer
25       United States  USA  1994 Winter  1994  Winter     Lillehammer
26         Netherlands  NED  1932 Summer  1932  Summer     Los Angeles
27         Netherlands  NED  1932 Summer  1932  Summer     Los Angeles
28             Finland  FIN  2002 Winter  2002  Winter  Salt Lake City
29             Finland  FIN  1952 Summer  1952  Summer        Helsinki
...                ...  ...          ...   ...     ...             ...
271086          Poland  POL  2006 Winter  2006  Winter          Torino
271087          Poland  POL  1980 Summer  1980  Summer          Moskva
271088          Poland  POL  1980 Summer  1980  Summer          Moskva
271089          Poland  POL  2008 Summer  2008  Summer         Beijing
271090          Poland  POL  2012 Summer  2012  Summer          London
271091          Poland  POL  2012 Summer  2012  Summer          London
271092          Poland  POL  1994 Winter  1994  Winter     Lillehammer
271093          Poland  POL  1994 Winter  1994  Winter     Lillehammer
271094          Poland  POL  1998 Winter  1998  Winter          Nagano
271095          Poland  POL  1998 Winter  1998  Winter          Nagano
271096          Poland  POL  2002 Winter  2002  Winter  Salt Lake City
271097          Poland  POL  2002 Winter  2002  Winter  Salt Lake City
271098          Poland  POL  2006 Winter  2006  Winter          Torino
271099          Greece  GRE  2004 Summer  2004  Summer          Athina
271100  Czechoslovakia  TCH  1928 Summer  1928  Summer       Amsterdam
271101  Czechoslovakia  TCH  1972 Summer  1972  Summer          Munich
271102          Russia  RUS  2000 Summer  2000  Summer          Sydney
271103          Russia  RUS  2004 Summer  2004  Summer          Athina
271104        Russia-1  RUS  2002 Winter  2002  Winter  Salt Lake City
271105       Argentina  ARG  2000 Summer  2000  Summer          Sydney
271106       Argentina  ARG  2004 Summer  2004  Summer          Athina
271107   United States  USA  1972 Summer  1972  Summer          Munich
271108          Russia  RUS  2000 Summer  2000  Summer          Sydney
271109          Russia  RUS  2004 Summer  2004  Summer          Athina
271110         Belarus  BLR  2016 Summer  2016  Summer  Rio de Janeiro
271111        Poland-1  POL  1976 Winter  1976  Winter       Innsbruck
271112          Poland  POL  2014 Winter  2014  Winter           Sochi
271113          Poland  POL  2014 Winter  2014  Winter           Sochi
271114          Poland  POL  1998 Winter  1998  Winter          Nagano
271115          Poland  POL  2002 Winter  2002  Winter  Salt Lake City

                       Sport  \
0                 Basketball
1                       Judo
2                   Football
3                 Tug-Of-War
4              Speed Skating
5              Speed Skating
6              Speed Skating
7              Speed Skating
8              Speed Skating
9              Speed Skating
10      Cross Country Skiing
11      Cross Country Skiing
12      Cross Country Skiing
13      Cross Country Skiing
14      Cross Country Skiing
15      Cross Country Skiing
16      Cross Country Skiing
17      Cross Country Skiing
18      Cross Country Skiing
19      Cross Country Skiing
20      Cross Country Skiing
21      Cross Country Skiing
22      Cross Country Skiing
23      Cross Country Skiing
24      Cross Country Skiing
25      Cross Country Skiing
26                 Athletics
27                 Athletics
28                Ice Hockey
29                  Swimming
...                      ...
271086        Figure Skating
271087              Swimming
271088              Swimming
271089               Sailing
271090               Sailing
271091            Volleyball
271092         Speed Skating
271093         Speed Skating
271094         Speed Skating
271095         Speed Skating
271096         Speed Skating
271097         Speed Skating
271098         Speed Skating
271099             Wrestling
271100             Athletics
271101               Cycling
271102             Athletics
271103             Athletics
271104                  Luge
271105                Hockey
271106                Hockey
271107              Football
271108                Rowing
271109                Rowing
271110            Basketball
271111                  Luge
271112           Ski Jumping
271113           Ski Jumping
271114             Bobsleigh
271115             Bobsleigh

                                                    Event   Medal
0                             Basketball Men's Basketball     NaN
1                            Judo Men's Extra-Lightweight     NaN
2                                 Football Men's Football     NaN
3                             Tug-Of-War Men's Tug-Of-War    Gold
4                        Speed Skating Women's 500 metres     NaN
5                      Speed Skating Women's 1,000 metres     NaN
6                        Speed Skating Women's 500 metres     NaN
7                      Speed Skating Women's 1,000 metres     NaN
8                        Speed Skating Women's 500 metres     NaN
9                      Speed Skating Women's 1,000 metres     NaN
10               Cross Country Skiing Men's 10 kilometres     NaN
11               Cross Country Skiing Men's 50 kilometres     NaN
12      Cross Country Skiing Men's 10/15 kilometres Pu...     NaN
13      Cross Country Skiing Men's 4 x 10 kilometres R...     NaN
14               Cross Country Skiing Men's 10 kilometres     NaN
15               Cross Country Skiing Men's 30 kilometres     NaN
16      Cross Country Skiing Men's 10/15 kilometres Pu...     NaN
17      Cross Country Skiing Men's 4 x 10 kilometres R...     NaN
18               Cross Country Skiing Men's 10 kilometres     NaN
19               Cross Country Skiing Men's 50 kilometres     NaN
20      Cross Country Skiing Men's 10/15 kilometres Pu...     NaN
21      Cross Country Skiing Men's 4 x 10 kilometres R...     NaN
22               Cross Country Skiing Men's 10 kilometres     NaN
23               Cross Country Skiing Men's 30 kilometres     NaN
24      Cross Country Skiing Men's 10/15 kilometres Pu...     NaN
25      Cross Country Skiing Men's 4 x 10 kilometres R...     NaN
26                           Athletics Women's 100 metres     NaN
27                 Athletics Women's 4 x 100 metres Relay     NaN
28                            Ice Hockey Men's Ice Hockey     NaN
29                    Swimming Men's 400 metres Freestyle     NaN
...                                                   ...     ...
271086                   Figure Skating Mixed Ice Dancing     NaN
271087                Swimming Men's 100 metres Butterfly     NaN
271088                Swimming Men's 200 metres Butterfly     NaN
271089                  Sailing Men's Two Person Keelboat     NaN
271090                  Sailing Men's Two Person Keelboat     NaN
271091                        Volleyball Men's Volleyball     NaN
271092                   Speed Skating Men's 1,500 metres     NaN
271093                   Speed Skating Men's 5,000 metres     NaN
271094                   Speed Skating Men's 1,500 metres     NaN
271095                   Speed Skating Men's 5,000 metres     NaN
271096                   Speed Skating Men's 5,000 metres     NaN
271097                  Speed Skating Men's 10,000 metres     NaN
271098                   Speed Skating Men's 5,000 metres     NaN
271099          Wrestling Women's Middleweight, Freestyle     NaN
271100                           Athletics Men's Marathon     NaN
271101           Cycling Men's Team Pursuit, 4,000 metres     NaN
271102             Athletics Women's 4 x 400 metres Relay  Bronze
271103             Athletics Women's 4 x 400 metres Relay  Silver
271104                         Luge Mixed (Men)'s Doubles     NaN
271105                                Hockey Men's Hockey     NaN
271106                                Hockey Men's Hockey     NaN
271107                            Football Men's Football     NaN
271108             Rowing Men's Lightweight Coxless Fours     NaN
271109             Rowing Men's Lightweight Coxless Fours     NaN
271110                      Basketball Women's Basketball     NaN
271111                         Luge Mixed (Men)'s Doubles     NaN
271112           Ski Jumping Men's Large Hill, Individual     NaN
271113                 Ski Jumping Men's Large Hill, Team     NaN
271114                               Bobsleigh Men's Four     NaN
271115                               Bobsleigh Men's Four     NaN

[271116 rows x 15 columns]

15

That's it! Now go and do 30 push-ups! :)