<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](https://mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko) and Vadim Shestopalov (@vchulski). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

# <center>Assignment #1. Fall 2019
## <center>Exploratory data analysis of Olympic games with Pandas
    
<img src='../../img/olympic_logo.png' width=50%>

Prior to working on the assignment, you'd better check out the corresponding course material:
 - [Exploratory data analysis with Pandas](https://nbviewer.jupyter.org/github/Yorko/mlcourse_open/blob/master/jupyter_english/topic01_pandas_data_analysis/topic1_pandas_data_analysis.ipynb?flush_cache=true), the same as an interactive web-based [Kaggle Kernel](https://www.kaggle.com/kashnitsky/topic-1-exploratory-data-analysis-with-pandas)
 - first lectures in mlcourse.ai [YouTube playlist ](https://www.youtube.com/watch?v=QKTuw4PNOsU&list=PLVlY_7IJCMJeRfZ68eVfEcu-UcN9BbwiX) 
 - you can also practice with demo assignments, which are simpler and already shared with solutions: [A1 demo](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset), [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution)

### Your task is to:
 1. write code and perform computations in the cells below
 2. choose answers in the [webform](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU). Solutions will be shared only with those who've filled in this form 
 3. submit answers with some email and **remember it**! This will be your ID during the course. Specify your real full name in the form as well (no nicks allowed in the final top-100 [rating](https://mlcourse.ai/rating)). If in doubt, you can re-submit the form till the deadline for A1, no problem, but stick to only one email.
 
### <center> Deadline for A1: 2019 September 15, 20:59 GMT (London time)
    
You'll get up to 10 credits for this assignment.

### How to get help
In [ODS Slack](https://opendatascience.slack.com) (if you still don't have access, fill in the [form](https://docs.google.com/forms/d/10HAN5huM996snUKjsNYyT_oOlm2uOsTKulKurb3oiNM/) mentioned on the mlcourse.ai main page), we have a channel **#mlcourse_ai_news** with announcements from the course team.
You can discuss the course content freely in the **#mlcourse_ai** channel (we still have a huge Russian-speaking group, they have a separate channel **#mlcourse_ai_rus**).

Here's how you reply in a thread (press this dialog icon to drill down into a thread):

<img src="../../img/start_a_thread.png" />

Please stick to special threads *a1_q1-5_fall2019* and *a1_q6-10_fall2019* in **#mlcourse_ai_news** for your questions on A1. Help each other without sharing correct code and answers. Our TA **Vadim @vchulski** is there to help (only in the mentioned thread, do not write to him directly).

Lastly, you can save useful messages by pinning them, further you can find pinned items on the top, just below the channel name:

<img src="../../img/pinned_item.png" />

### Assignment 
__There are ten questions about 120 years of Olympic history in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU).__

Download the file `athlete_events.csv` from [here](https://drive.google.com/file/d/1f5v6Z2ayc7h698FG_98wP5x1Y2zZQeox/view?usp=sharing) (scraped by [rgriffin](https://www.randigriffin.com/) from www.sports-reference.com). The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Change the path to the dataset file if needed. 
PATH = 'athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
data.groupby("Sport")["Event"].agg(np.unique)

Sport
Aeronautics                                      Aeronautics Mixed Aeronautics
Alpine Skiing                [Alpine Skiing Men's Combined, Alpine Skiing M...
Alpinism                                               Alpinism Mixed Alpinism
Archery                      [Archery Men's Au Chapelet, 33 metres, Archery...
Art Competitions             [Art Competitions Mixed Architecture, Art Comp...
Athletics                    [Athletics Men's 1,500 metres, Athletics Men's...
Badminton                    [Badminton Men's Doubles, Badminton Men's Sing...
Baseball                                               Baseball Men's Baseball
Basketball                   [Basketball Men's Basketball, Basketball Women...
Basque Pelota                     Basque Pelota Men's Two-Man Teams With Cesta
Beach Volleyball             [Beach Volleyball Men's Beach Volleyball, Beac...
Biathlon                     [Biathlon Men's 10 kilometres Sprint, Biathlon...
Bobsleigh                    [Bobsleigh Men's Four, Bobsleigh Men's Four/Fi...
Boxing                       [Boxing Men's Bantamweight, Boxing Men's Feath...
Canoeing                     [Canoeing Men's Canadian Doubles, 1,000 metres...
Cricket                                                  Cricket Men's Cricket
Croquet                      [Croquet Mixed Doubles, Croquet Mixed Singles,...
Cross Country Skiing         [Cross Country Skiing Men's 10 kilometres, Cro...
Curling                       [Curling Men's Curling, Curling Women's Curling]
Cycling                      [Cycling Men's 1 mile, Cycling Men's 1,000 met...
Diving                       [Diving Men's Plain High, Diving Men's Platfor...
Equestrianism                [Equestrianism Men's Dressage, Individual, Equ...
Fencing                      [Fencing Men's Foil, Individual, Fencing Men's...
Figure Skating               [Figure Skating Men's Singles, Figure Skating ...
Football                     [Football Men's Football, Football Women's Foo...
Freestyle Skiing             [Freestyle Skiing Men's Aerials, Freestyle Ski...
Golf                         [Golf Men's Individual, Golf Men's Team, Golf ...
Gymnastics                   [Gymnastics Men's Club Swinging, Gymnastics Me...
Handball                     [Handball Men's Handball, Handball Women's Han...
Hockey                            [Hockey Men's Hockey, Hockey Women's Hockey]
                                                   ...
Modern Pentathlon            [Modern Pentathlon Men's Individual, Modern Pe...
Motorboating                 [Motorboating Mixed A-Class (Open), Motorboati...
Nordic Combined              [Nordic Combined Men's Individual, Nordic Comb...
Polo                                                           Polo Men's Polo
Racquets                      [Racquets Men's Doubles, Racquets Men's Singles]
Rhythmic Gymnastics          [Rhythmic Gymnastics Women's Group, Rhythmic G...
Roque                                                      Roque Men's Singles
Rowing                       [Rowing Men's 17-Man Naval Rowing Boats, Rowin...
Rugby                                                        Rugby Men's Rugby
Rugby Sevens                 [Rugby Sevens Men's Rugby Sevens, Rugby Sevens...
Sailing                      [Sailing Men's One Person Dinghy, Sailing Men'...
Shooting                     [Shooting Men's Air Pistol, 10 metres, Shootin...
Short Track Speed Skating    [Short Track Speed Skating Men's 1,000 metres,...
Skeleton                     [Skeleton Men's Skeleton, Skeleton Women's Ske...
Ski Jumping                  [Ski Jumping Men's Large Hill, Individual, Ski...
Snowboarding                 [Snowboarding Men's Boardercross, Snowboarding...
Softball                                             Softball Women's Softball
Speed Skating                [Speed Skating Men's 1,000 metres, Speed Skati...
Swimming                     [Swimming Men's 1,000 metres Freestyle, Swimmi...
Synchronized Swimming        [Synchronized Swimming Women's Duet, Synchroni...
Table Tennis                 [Table Tennis Men's Doubles, Table Tennis Men'...
Taekwondo                    [Taekwondo Men's Featherweight, Taekwondo Men'...
Tennis                       [Tennis Men's Doubles, Tennis Men's Doubles, C...
Trampolining                 [Trampolining Men's Individual, Trampolining W...
Triathlon                    [Triathlon Men's Olympic Distance, Triathlon W...
Tug-Of-War                                         Tug-Of-War Men's Tug-Of-War
Volleyball                   [Volleyball Men's Volleyball, Volleyball Women...
Water Polo                   [Water Polo Men's Water Polo, Water Polo Women...
Weightlifting                [Weightlifting Men's All-Around Dumbbell Conte...
Wrestling                    [Wrestling Men's All-Around, Greco-Roman, Wres...
Name: Event, Length: 66, dtype: object

__1. How old were the youngest male and female participants of the 1992 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 16 and 15
- 14 and 13 
- 13 and 11
- 11 and 12

In [5]:
data_from_1992 = data[data["Year"] == 1992]
mal_from_1992 = data_from_1992[data_from_1992["Sex"] == "M"]
fem_from_1992 = data_from_1992[data_from_1992["Sex"] == "F"]
print("Youngest male:", min(mal_from_1992["Age"]))
print("Youngest female:", min(fem_from_1992["Age"]))

('Youngest male:', 11.0)
('Youngest female:', 12.0)

__2. What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0.2
- 1.5 
- 2.5
- 7.7

In [15]:
filt_year = data[data["Year"] == 2012]
filt_sex_year = filt_year[filt_year["Sex"] == "M"]
filt_spor_sex_year = filt_sex_year[filt_sex_year["Sport"] == "Basketball"]
basket_oly2012_man = filt_spor_sex_year.groupby(["Name"])
oly2012_man = filt_sex_year.groupby(["Name"])
print(len(basket_oly2012_man) / (1.0 * len(oly2012_man)))

0.0245817685217

__3. What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 171.8 and 6.5
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [20]:
filt_year = data[data["Year"] == 2000]
filt_sex_year = filt_year[filt_year["Sex"] == "F"]
filt_spor_sex_year = filt_sex_year[filt_sex_year["Sport"] == "Tennis"]
tennis_oly2000_fem = filt_spor_sex_year.groupby(["Name"])["Height"].agg()

AttributeError: 'DataFrameGroupBy' object has no attribute 'to_frame'

__4. Find a sportsman who participated in the 2006 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [7]:
# You code here

__5. How many times did John Aalberg participate in the Olympics held in different years?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0
- 1 
- 2
- 3

In [8]:
# You code here

__6. How many gold medals in tennis did sportspeople from the Switzerland team win at the 2008 Olympics? Count every medal from every sportsperson.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 0
- 1 
- 2
- 3

In [9]:
# You code here

__7. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes
- No

In [10]:
# You code here

__8. What age category did the fewest and the most participants of the 2008 Olympics belong to?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45) and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [11]:
# You code here

__9. Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [12]:
# You code here

__10. What is the absolute difference between the number of unique sports at the 1986 Olympics and 2002 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 3 
- 10
- 15
- 27

In [13]:
# You code here

That's it! Now go and do 30 push-ups! :)